doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
  header
    .hrow
    small Home
  body
  .container
    block content
  footer
      .row
          small Signtyp Imaging Project, 2014